<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>

  <div class="grid-container-A">
    <!-- Current Day Key Info -->
    <div class="grid-container-A-1" style="grid-column: span 3;grid-row: span 9;">
      <div class="flexbox-center" style="grid-column: span 4;grid-row: span 4;">
        <% if (locals.sevenDay && weatherCodeDict[sevenDay.daily.weather_code[0]] !== undefined) { %>
          <img src = "<%= weatherCodeDict[sevenDay.daily.weather_code[0]] %>" alt="Weather Icon"/>
        <% } else { %>
        <img src = "images/icons/weather/animated/clear-day.svg" alt="Weather Icon"/>
        <% } %>
      </div>
      <div class="grid-container-A-2" style="grid-column: span 2;grid-row: span 2;">
        <div class="flexbox-center" style="grid-row: span 9; grid-column: span 12; margin-top: 4px;">
          <img src = "images/icons/weather/high-temperature.svg" alt="Weather Icon"/>
        </div>
        <div class="med-box" style="grid-row: span 3; grid-column: span 12;">
          <% if (locals.sevenDay) { %>
          <h1>Max: <%= Number.parseFloat(sevenDay.daily.temperature_2m_max[0]).toFixed(1) %>°C</h1>
          <% } %>
        </div>
      </div>
      <div class="grid-container-A-2" style="grid-column: span 2;grid-row: span 2;">
        <div class="flexbox-center" style="grid-row: span 9; grid-column: span 12; margin-top: 4px;">
          <img src = "images/icons/weather/low-temperature.svg" alt="Weather Icon"/>
        </div>
        <div class="med-box" style="grid-row: span 3; grid-column: span 12;">
          <% if (locals.sevenDay) { %>
          <h1>Min: <%= Number.parseFloat(sevenDay.daily.temperature_2m_min[0]).toFixed(1) %>°C</h1>
          <% } %>
        </div>
      </div>

      <div class="flexbox-center icon" style="grid-column: span 3;">
        <h1>Full Moon</h1> <img src = "images/icons/weather/animated/clear-night.svg" alt="Weather Icon"/>
      </div>

      <div class="flexbox-center icon" style="grid-column: span 3;">
        <h1>Feels like: <%= Number.parseFloat(sevenDay.daily.apparent_temperature_max[0]).toFixed(1) %>°C</h1> <img src = "images/icons/weather/high-temperature.svg" alt="Weather Icon"/>
      </div>

      <div class="flexbox-center icon" style="grid-column: span 3;">
        <h1>Feels like: <%= Number.parseFloat(sevenDay.daily.apparent_temperature_min[0]).toFixed(1) %>°C</h1> <img src = "images/icons/weather/low-temperature.svg" alt="Weather Icon"/>
      </div>

      <div class="flexbox-center icon" style="grid-column: span 3;">
        <h1>Feels like: <%= Number.parseFloat(sevenDay.daily.apparent_temperature_min[0]).toFixed(1) %>°C</h1> <img src = "images/icons/weather/low-temperature.svg" alt="Weather Icon"/>
      </div>
    </div>

    <!-- Title and Search Box -->
    <div class="grid-title" style="grid-column: span 4; grid-row: span 2;">
      <% const weekDays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"] %>
      <% const days = ["1st", "2nd", "3rd", "4th", "5th", "6th", "7th", "8th", "9th", "10th", "11th", "12th", "13th", "14th", "15th", "16th", "17th", "18th", "19th", "20th", "21st", "22nd", "23rd", "24th", "25th", "26th", "27th", "28th", "29th", "30th", "31st"]; %>
      <% const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; %>
      <% const todaysDate = weekDays[new Date().getDay()] + " " + days[new Date().toString().slice(8,10) - 1] + " " + months[new Date().getMonth()]; %>

      <div><h1><%= setLocation[2] %></h1></div> 
      <div style="grid-column: span 11;"><h2><%= setLocation[3] %></h2></div>
      <div style="grid-column: span 7;" class="search-container">
        <form action="/submit" method="POST">
          <input type="text" placeholder="Search..." name="search">
          <button type="submit">Submit</button>
        </form>
      </div>
      <div><h3><%= todaysDate %></h3></div>
    </div>

    <!-- Current Day Extra Info -->
    <div class="grid-container-B" style="grid-column: span 4;grid-row: span 7;">

        <div class="grid-container-A-2">
          <div class="flexbox-center" style="grid-row: span 8; grid-column: span 12; margin-top: 4px;">
            <img src ="images/icons/weather/animated/cloudy-1-day.svg" alt="Weather Icon"/>
          </div>
          <div class="med-box" style="grid-row: span 3; grid-column: span 12;">
            <h1>Sunrise</h1>
            <p><%= new Date(sevenDay.daily.sunrise[0]).toLocaleString().slice(12) %></p>
          </div>
        </div>

        <div class="grid-container-A-2">
          <div class="flexbox-center" style="grid-row: span 8; grid-column: span 12; margin-top: 4px;">
            <img src ="images/icons/weather/animated/cloudy-1-night.svg" alt="Weather Icon"/>
          </div>
          <div class="med-box" style="grid-row: span 3; grid-column: span 12;">
            <h1>Sunset</h1>
            <p><%= new Date(sevenDay.daily.sunset[0]).toLocaleString().slice(12) %></p>
          </div>
        </div>

        <div class="grid-container-A-2">
          <div class="flexbox-center" style="grid-row: span 8; grid-column: span 12; margin-top: 4px;">
            <img src ="images/icons/weather/animated/rainy-1-day.svg" alt="Weather Icon"/>
          </div>
          <div class="med-box" style="grid-row: span 3; grid-column: span 12;">
            <h1>Chance of Rain</h1>
            <p><%= sevenDay.daily.precipitation_probability_mean[0] %>%</p>
          </div>
        </div>

        <div class="grid-container-A-2">
          <div class="flexbox-center" style="grid-row: span 8; grid-column: span 12; margin-top: 4px;">
            <img src ="images/icons/weather/animated/clear-day.svg" alt="Weather Icon"/>
          </div>
          <div class="med-box" style="grid-row: span 3; grid-column: span 12;">
            <h1>UV Index Max</h1>
            <p><%= sevenDay.daily.uv_index_max[0] %></p>
          </div>
        </div>

        <div class="grid-container-A-2">
          <div class="flexbox-center" style="grid-row: span 8; grid-column: span 12; margin-top: 4px;">
            <img src ="images/icons/weather/animated/wind.svg" alt="Weather Icon"/>
          </div>
          <div class="med-box" style="grid-row: span 3; grid-column: span 12;">
            <h1>Top Wind Speeds</h1>
            <p><%= sevenDay.daily.wind_speed_10m_max[0] %> km/h</p>
          </div>
        </div>

        <div class="grid-container-A-2">
          <div class="flexbox-center" style="grid-row: span 8; grid-column: span 12; margin-top: 4px;">
            <img src ="images/icons/weather/animated/rainy-3.svg" alt="Weather Icon"/>
          </div>
          <div class="med-box" style="grid-row: span 3; grid-column: span 12;">
            <h1>Total Rainfall</h1>
            <p><%= sevenDay.daily.rain_sum[0] %> mm</p>
          </div>
        </div>

    </div>

    <!-- Weekly Forecast -->
    <div class="flexbox-container" style="grid-column: span 7;grid-row: span 3;">

      <% if (locals.sevenDay) { %>
        <% for (let i=1; i<8; i++) { %>
          <div class="grid-container-A-2" style="grid-column: span 2;grid-row: span 2;">
            <div class="med-box" style="grid-row: span 4; grid-column: span 12;">
              <h1><%= weekDays[new Date(sevenDay.daily.time[i]).getDay()] %></h1>
              <p><%= sevenDay.daily.time[i] %></p>
            </div>
            <div class="flexbox-center forecast" style="grid-row: span 8; grid-column: span 7;">
              <% if (weatherCodeDict[sevenDay.daily.weather_code[i]] !== undefined) { %>
                <img src = "<%= weatherCodeDict[sevenDay.daily.weather_code[i]] %>" alt="Weather Icon"/>
              <% } else { %>
              <img src = "images/icons/weather/animated/clear-day.svg" alt="Weather Icon"/>
              <% } %>
            </div>
            <div class="flexbox-center forecast-temp" style="grid-row: span 4; grid-column: span 5;">
              <h1><%= Number.parseFloat(sevenDay.daily.temperature_2m_max[i]).toFixed(1) %></h1> <img src = "images/icons/weather/high-temperature.svg" alt="Weather Icon"/>
            </div>
            <div class="flexbox-center forecast-temp" style="grid-row: span 4; grid-column: span 5;">
              <h1><%= Number.parseFloat(sevenDay.daily.temperature_2m_min[i]).toFixed(1) %></h1> <img src = "images/icons/weather/low-temperature.svg" alt="Weather Icon"/>
            </div>
          </div>
        <% } %>
      <% } %>  
    </div>
  </div>

  <video autoplay muted loop id="background-video" playbackRate = 0.1>
    <source src="videos/winter-scenery.mp4" type="video/mp4">
  </video>
  
</body>

</html>