<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>

  <div class="grid-container-A">
    <!-- Current Day Key -->
    <div class="grid-container-A-1" style="grid-column: span 3;grid-row: span 9;">
      <div class="flexbox-center" style="grid-column: span 4;grid-row: span 4;">
        <img src = "images/icons/weather/animated/clear-day.svg" alt="Weather Icon"/>
      </div>
      <div class="grid-container-A-2" style="grid-column: span 2;grid-row: span 2;">
        <div class="flexbox-center" style="grid-row: span 9; grid-column: span 12; margin-top: 4px;">
          <img src = "images/icons/weather/high-temperature.svg" alt="Weather Icon"/>
        </div>
        <div class="med-box" style="grid-row: span 3; grid-column: span 12;">
          <h1>Max: 22°C</h1>
        </div>
      </div>
      <div class="grid-container-A-2" style="grid-column: span 2;grid-row: span 2;">
        <div class="flexbox-center" style="grid-row: span 9; grid-column: span 12; margin-top: 4px;">
          <img src = "images/icons/weather/low-temperature.svg" alt="Weather Icon"/>
        </div>
        <div class="med-box" style="grid-row: span 3; grid-column: span 12;">
          <h1>Min: 10°C</h1>
        </div>
      </div>
      <div style="grid-column: span 3;"></div>
      <div style="grid-column: span 3;"></div>
      <div style="grid-column: span 3;"></div>
      <div style="grid-column: span 3;"></div>
    </div>

    <!-- Title and Search Box -->
    <% const days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"] %>
    <div class="grid-title" style="grid-column: span 4; grid-row: span 2;">
        <div><h1>Liverpool</h1></div> <div style="grid-column: span 11;">
          <h2><%= days[new Date().getDay()] %></h2></div>
      <div style="grid-column: span 11" class="search-container">
        <form action="/submit">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>

    <!-- Current Day Boxes -->
    <div class="grid-container-B" style="grid-column: span 4;grid-row: span 7;">

        <div class="grid-container-A-2">
          <div class="flexbox-center" style="grid-row: span 8; grid-column: span 12; margin-top: 4px;">
            <img src ="images/icons/weather/animated/clear-day.svg" alt="Weather Icon"/>
          </div>
          <div class="med-box" style="grid-row: span 3; grid-column: span 12;">
            <h1>Sunrise</h1>
            <p>06:45</p>
          </div>
        </div>

        <div class="grid-container-A-2">
          <div class="flexbox-center" style="grid-row: span 8; grid-column: span 12; margin-top: 4px;">
            <img src ="images/icons/weather/animated/clear-night.svg" alt="Weather Icon"/>
          </div>
          <div class="med-box" style="grid-row: span 3; grid-column: span 12;">
            <h1>Sunset</h1>
            <p>06:45</p>
          </div>
        </div>

        <div class="grid-container-A-2">
          <div class="flexbox-center" style="grid-row: span 8; grid-column: span 12; margin-top: 4px;">
            <img src ="images/icons/weather/animated/rainy-1-day.svg" alt="Weather Icon"/>
          </div>
          <div class="med-box" style="grid-row: span 3; grid-column: span 12;">
            <h1>Precipitation</h1>
            <p>11%</p>
          </div>
        </div>

        <div class="grid-container-A-2">
          <div class="flexbox-center" style="grid-row: span 8; grid-column: span 12; margin-top: 4px;">
            <img src ="images/icons/weather/animated/rainy-1.svg" alt="Weather Icon"/>
          </div>
          <div class="med-box" style="grid-row: span 3; grid-column: span 12;">
            <h1>Sunset</h1>
            <p>06:45</p>
          </div>
        </div>

        <div class="grid-container-A-2">
          <div class="flexbox-center" style="grid-row: span 8; grid-column: span 12; margin-top: 4px;">
            <img src ="images/icons/weather/animated/wind.svg" alt="Weather Icon"/>
          </div>
          <div class="med-box" style="grid-row: span 3; grid-column: span 12;">
            <h1>Wind Speed</h1>
            <p>4.3 km/h</p>
          </div>
        </div>

        <div class="grid-container-A-2">
          <div class="flexbox-center" style="grid-row: span 8; grid-column: span 12; margin-top: 4px;">
            <img src ="images/icons/weather/animated/rainy-1.svg" alt="Weather Icon"/>
          </div>
          <div class="med-box" style="grid-row: span 3; grid-column: span 12;">
            <h1>Humidity</h1>
            <p>11%</p>
          </div>
        </div>

    </div>

    <!-- Weekly Forecast -->
    <div class="flexbox-container" style="grid-column: span 7;grid-row: span 3;">

      <% for (let i=0; i<7; i++) { %>
        <div class="grid-container-A-2" style="grid-column: span 2;grid-row: span 2;">
          <div class="med-box" style="grid-row: span 4; grid-column: span 12;">
            <h1><%= days[new Date(weather.daily.time[i]).getDay()] %></h1>
            <p><%= weather.daily.time[i] %></p>
          </div>
          <div class="flexbox-center forecast" style="grid-row: span 8; grid-column: span 7;">
            <img src = "images/icons/weather/animated/clear-day.svg" alt="Weather Icon"/>
          </div>
          <div class="flexbox-center forecast-temp" style="grid-row: span 4; grid-column: span 5;">
            <h1><%= weather.daily.apparent_temperature_max[i] %></h1> <img src = "images/icons/weather/high-temperature.svg" alt="Weather Icon"/>
          </div>
          <div class="flexbox-center forecast-temp" style="grid-row: span 4; grid-column: span 5;">
            <h1><%= weather.daily.apparent_temperature_min[i] %></h1> <img src = "images/icons/weather/low-temperature.svg" alt="Weather Icon"/>
          </div>
        </div>
      <% } %>

    </div>
  </div>

  <video autoplay muted loop id="background-video" playbackRate = 0.1>
    <source src="videos/winter-scenery.mp4" type="video/mp4">
  </video>
  
</body>

</html>